@import url("https://fonts.googleapis.com/css?family=Raleway:300,700");

body {
  font-family: "Raleway", sans-serif;
}

#pageWrapper {
  margin: auto;
  width: 800px;
}

#contentWrapper {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  text-align: center;
}

#pandaLogo {
  height: 100px;
}

#menu {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 3px;
  background-color: #353535;
  height: 40px;
  line-height: 40px;
  border: 3px solid #353535;
  border-radius: 5px;
}

.menuOption {
  color: white;
  text-decoration: none;
  text-align: center;
  height: 40px;
  transition: all ease-in-out 300ms;
  border-radius: 2px;
}

.menuOption:hover {
  color: #353535;
  background-color: white;
}

.selected {
  color: #353535;
  background-color: white;
}

.contentParagraph {
  text-align: justify;
  padding: 0 15px;
}

.content {
  grid-column: 1/6;
  background-color: #c4c4c4;
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
}

.images {
  grid-column: 6/9;
}

.bar {
  background-color: #353535;
}

.barTop {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.barBottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.imageDisplay {
  width: 50%;
  margin: 20px auto;
}

a {
  text-decoration: none;
  color: cornflowerblue;
}

a:hover {
  color: grey;
}

form {
  background: none;
}

.orderNow {
  width: 120px;
  height: 50px;
  line-height: 40px;
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #56ccf2, #2f80ed); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #56ccf2, #2f80ed);
  color: black;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 1.3em;
  transition: all ease-in-out 300ms;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .8);
  margin: auto;
}

.orderNow:hover {
  background: #000046; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000046, #1cb5e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000046, #1cb5e0);
  font-weight: bold;
}

.orderNow:active {
  vertical-align: top;
  margin-right: 2px;
}

.imageBanner {
  height: 100px;
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
}

iframe {
  margin-bottom: 10px;
}
