<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CSS Grid</title>
    <link rel="stylesheet" type="text/css" href="../static/styles4.css"/>
  </head>

  <body>
    <div class="sidebar">
      <div class="logo">Palotás<span>Kiscica</span></div>
      <nav>
        <a href="" class="nav-item">Ez</a>
        <a href="" class="nav-item">Itt</a>
        <a href="" class="nav-item active">Pár</a>
        <a href="" class="nav-item">Gomb</a>
      </nav>
    </div>

    <div class="main-content">
      <div class="portfolio">
        <div class="portfolio-item medium">Krokika</div>
        <div class="portfolio-item large two">Nyenyevér</div>
        <div class="portfolio-item medium">Brumma</div>
        <div class="portfolio-item small">Panda</div>
        <div class="portfolio-item tall">Nyinyike</div>
        <div class="portfolio-item wide">Nyanyika</div>
        <div class="portfolio-item wide">Hehehehe</div>
        <div class="portfolio-item medium">Huhuhu</div>
      </div>
    </div>
  </body>
</html>
