<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>CSS Grid</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css"/>
  </head>

  <body>
    <div class="wrapper">
      <div>
        Bacon ipsum dolor amet beef ribs turkey alcatra, ground round swine flank tail sausage strip steak chuck cupim picanha doner andouille.
      </div>
      <div>
        Bacon ipsum dolor amet beef ribs turkey alcatra, ground round swine flank tail sausage strip steak chuck cupim picanha doner andouille.
      </div>
      <div>
        Bacon ipsum dolor amet beef ribs turkey alcatra, ground round swine flank tail sausage strip steak chuck cupim picanha doner andouille.
      </div>
      <div>
        Bacon ipsum dolor amet beef ribs turkey alcatra, ground round swine flank tail sausage strip steak chuck cupim picanha doner andouille.
      </div>
      <div>
        Bacon ipsum dolor amet beef ribs turkey alcatra, ground round swine flank tail sausage strip steak chuck cupim picanha doner andouille.
      </div>
      <div>
        Bacon ipsum dolor amet beef ribs turkey alcatra, ground round swine flank tail sausage strip steak chuck cupim picanha doner andouille.
      </div>
    </div>
  </body>
</html>
