<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Panda Audio</title>
  <meta charset="UTF-8">
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
</head>

<body>
<div id="pageWrapper">
  <div id="pandaLogo">
    <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'/>
  </div>

  <div id="menu">
    <a class="menuOption" href="index.html">Home</a>
    <a class="menuOption" href="midibeam.html">midiBeam</a>
    <a class="menuOption selected" href="fi.html">Future Impact</a>
    <a class="menuOption" href="designs.html">Designs</a>
    <a class="menuOption" href="about.html">About us</a>
    <a class="menuOption" href="midiguitar.html">MidiGuitar FAQ</a>
    <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
  </div>

  <div class="imageBanner">
    <img src='../static/images/FI_banner.png' width='800' height='100' border='0'>
  </div>

  <div id="contentWrapper" align="left">
    <div class="content">
      <div class="bar barTop">&nbsp;</div>

      <h3 class="contentParagraph">
        Future Impact I.
      </h3>

      <p class="contentParagraph">
        The Future Impact I. (FI I.) is probably the most complex bass synthesizer effect that was ever designed. It emulates analog synthesizer building blocks in extremely high quality, with up to 512 kHz oversampling.
      </p>
      <p class="contentParagraph">
        <ul>
          <li class="contentParagraph">
            It emulates with 100% accuracy the 9 original sounds of the highly reputed Deep Impact, which is not available on the market any more.
          </li>
          <li class="contentParagraph">
            It goes far beyond the Deep Impact, with much more advanced features and more building blocks. 90 of the altogether 99 programs are filled with the new sounds.
          </li>
          <li class="contentParagraph">
            Users can create their own sounds with the editor that is available both for PC and MAC platforms.
          </li>
          <li class="contentParagraph">
            More than just a bass guitar synthesizer, it can be used as an advanced analog modeling synthesizer expander through the MIDI input.
          </li>
        </ul>
      </p>

      <iframe width="480" height="300" src="https://www.youtube.com/embed/G0A-3MnNrWw" frameborder="0" allowfullscreen></iframe>

      <form action="http://www.pandamidi.com">
        <button class="orderNow" >Order now</button>
      </form>

      <p class="contentParagraph">
      </p>

      <div class="bar barBottom">&nbsp;</div>
    </div>

    <div class="images">
      <p class="imageDisplay">
        <img src="../static/images/FI_240.png" width="220" align="center"/>
      </p>
      <p class="imageDisplay">
        <img src="../static/images/FI-back_240.png" width="220" align="center"/>
      </p>
    </div>

  </div>
</div>
</body>
</html>
