<!DOCTYPE html>
<html lang="EN">

  <head>
    <title>Panda Audio</title>
    <meta charset="UTF-8">
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
  </head>

  <body>
    <div id="pageWrapper">
      <div id="pandaLogo">
        <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'>
      </div>

      <div id="menu">
        <a class="menuOption selected" href="index.html">Home</a>
        <a class="menuOption" href="midibeam.html">midiBeam</a>
        <a class="menuOption" href="fi.html">Future Impact</a>
        <a class="menuOption" href="designs.html">Designs</a>
        <a class="menuOption" href="about.html">About us</a>
        <a class="menuOption" href="midiguitar.html">MidiGuitar FAQ</a>
        <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
      </div>

      <div id="contentWrapper" align="left">
        <div class="content">
          <div class="bar barTop">&nbsp;</div>
          <p class="contentParagraph">
            Panda Audio is a small, independent R&amp;D company located in Buda&ouml;rs,
            Hungary, primarily focusing on digital signal processing and embedded
            systems development for professional audio applications. </p>
          <p class="contentParagraph">
            Panda is primarily developing products for <a href="http://www.fishman.com">
            Fishman Transducers</a> in Boston, although over the years we have worked with
            <a href="http://www.akaipro.com/">AKAI Professional</a> and
            <a href="http://tascam.com/"> Tascam</a>. Our tasks usually include
            hardware/software system design, hardware/software prototype development and
            production firmware development.</p>
          <p class="contentParagraph">
            We have been working with various microprocessors and microcontrollers,
            including Motorola 56300, Analog Devices 21xx and Blackfin BF532/BF523C,
            Hitachi/Renesas H8, STMicroelectronics STR7/STM32, austriamicrosystems AS3527
            (ARM922TDMI), Texas Instruments MSP430 and Microchip PIC18F. We have expertise
            in implementing DSP algorithms in C and assembly, C/C++ programming for embedded
            systems, and real-time operating systems.</p>
          <p class="contentParagraph">
            Recently we got involved in the development of several wireless MIDI products,
            like developing core software for the <a href="http://www.fishman.com/tripleplay">
            Fishman Triple Play</a>, and our own <a href="midibeam.html">midiBeam</a> wireless MIDI
            interface. Also, currently  we are evaluating wireless audio technologies for
            professional audio applications. Our most recent product is the Future Impact bass
            guitar synthesizer and analog modeling MIDI expander.
          </p>
          <p class="contentParagraph">
            For the details of our designs click <a href="designs.html">here</a>.
          </p>
          <div class="bar barBottom">&nbsp;</div>
        </div>

        <div class="images">
          <p class="imageDisplay">
            <img src="../static/images/fishman_tripleplay.jpg" width="120" align="center">
          </p>
          <p class="imageDisplay">
            <img src="../static/images/akaipro-ewi.jpg" width="160" align="center">
          </p>
          <p class="imageDisplay">
            <img src="../static/images/fishmanaura.jpg" width="120" align="center">
          </p>
          <p class="imageDisplay">
            <a href="midibeam.html">
              <img src="../static/images/midibeam-gray-3.jpg" width="160">
            </a>
          </p>
        </div>

      </div>
    </div>
  </body>
</html>
