<!DOCTYPE html>
<html lang="EN">

  <head>
    <title>Panda Audio</title>
    <meta charset="UTF-8">
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
  </head>

  <body>
    <div id="pageWrapper">
      <div id="pandaLogo">
        <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'>
      </div>

      <div id="menu">
        <a class="menuOption" href="index.html">Home</a>
        <a class="menuOption selected" href="midibeam.html">midiBeam</a>
        <a class="menuOption" href="fi.html">Future Impact</a>
        <a class="menuOption" href="designs.html">Designs</a>
        <a class="menuOption" href="about.html">About us</a>
        <a class="menuOption" href="midiguitar.html">MidiGuitar FAQ</a>
        <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
      </div>

      <div class="imageBanner">
        <img src="http://1.1.1.2/bmi/www.panda-audio.com/img/midibeam-banner.jpg" width='800' height='100' border='0'>
      </div>

      <div id="contentWrapper" align="left">
        <div class="content">
          <div class="bar barTop">&nbsp;</div>
          <h3 class="contentParagraph">
            Wireless MIDI Interface
          </h3>

          <p class="contentParagraph">
            The midiBeam wireless MIDI interface connects your MIDI instrument
            (or any source) to your synthesizer or computer through radio waves,
            without any cable connection.

            There are at least two typical applications where it has obvious advantages:
          </p>
          <p lass="contentParagraph">
            <ul>
              <li class="contentParagraph">If you have a battery powered mobile MIDI instrument you will be
                free to move around the stage without any cable if you use midiBeam.
                You can use a mobile keyboard hanging in your neck from Roland, Casio,
                etc., or a wind controller, like the AKAI EWI 4000s or the Yamaha WX5.</li>
              <li class="contentParagraph">If you are fed up with the many cables hanging around in your studio,
                you can reduce the number of cables if you use midiBeam. Unlike other
                wireless MIDI solutions midiBeam is a very cost efficient replacement for
                a MIDI cable, while the delay latency is perfectly negligible, just about
                10% of other wireless solutions.</li>
            </ul>
          </p>

          <form action="http://www.pandamidi.com">
            <button class="orderNow" >Order now</button>
          </form>

          <p class="contentParagraph">
            For the technical details of midiBeam wireless MIDI interface click
            <a href="mb-description.php">here</a>.
          </p>

          <div class="bar barBottom">&nbsp;</div>
        </div>

        <div class="images">
          <p class="imageDisplay">
            <img src="../static/images/fishman_tripleplay.jpg" width="120" align="center">
          </p>
          <p class="imageDisplay">
            <img src="../static/images/akaipro-ewi.jpg" width="160" align="center">
          </p>
          <p class="imageDisplay">
            <img src="../static/images/fishmanaura.jpg" width="120" align="center">
          </p>
          <p class="imageDisplay">
            <a href="midibeam.html">
              <img src="../static/images/midibeam-gray-3.jpg" width="160">
            </a>
          </p>
        </div>

      </div>
    </div>
  </body>
</html>
