<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Panda Audio</title>
  <meta charset="UTF-8">
  <link href="../static/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
</head>

<body>
<div id="pageWrapper">
  <div id="pandaLogo">
    <img src='../static/images/panda-audio-banner.gif' width='800' height='100' border='0'/>
  </div>

  <div id="menu">
    <a class="menuOption" href="index.html">Home</a>
    <a class="menuOption" href="midibeam.html">midiBeam</a>
    <a class="menuOption" href="fi.html">Future Impact</a>
    <a class="menuOption" href="designs.html">Designs</a>
    <a class="menuOption" href="about.html">About us</a>
    <a class="menuOption selected" href="midiguitar.html">MidiGuitar FAQ</a>
    <a class="menuOption" href="mailto:info@panda-audio.com">Contact us</a>
  </div>

  <div class="imageBanner">
  </div>

  <div id="contentWrapper" align="left">
    <div class="content">
      <div class="bar barTop">&nbsp;</div>

      <h3 class="contentParagraph">
      </h3>

      <p class="contentParagraph">

      </p>
      <p lass="contentParagraph">

      </p>

      <form action="http://www.pandamidi.com">
        <button class="orderNow" >Order now</button>
      </form>

      <p class="contentParagraph">
      </p>

      <div class="bar barBottom">&nbsp;</div>
    </div>

    <div class="images">
      <p class="imageDisplay">
        <img />
      </p>
      <p class="imageDisplay">
        <img />
      </p>
      <p class="imageDisplay">
        <img />
      </p>
      <p class="imageDisplay">
        <img />
      </p>
    </div>

  </div>
</div>
</body>
</html>
